@tailwind base;
@tailwind components;
@tailwind utilities;

.gradiantText {
  @apply text-transparent bg-gradient-to-r bg-clip-text from-orange-500 via-purple-500 to-blue-700
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.content_margin {
  @apply mx-auto w-3/4
}

.glow {
  position: relative;
  display: inline-block;
}

.glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0 0 10px #ff0000;
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #ff0000;
  }

  50% {
    box-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000;
  }

        100% {
          box-shadow: 0 0 10px #ff0000;
  }
}

.clip {
  clip-path: circle(50% at 50% 50%);
}

